.secao-cadastrarAdm {
    display: none;
    align-self: center;
    min-width: 50%;
    margin-top: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
   
}

.mostra-form{
    display: initial;
    
}

.secao-cadastrar__titulo {
    border-bottom: 1px solid grey;
    line-height: 20px;
    text-align: center;
    font-size: 1.1rem;
    
}

.form-cadastrar {
    display: grid;
    gap: 10px;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 10px;
}

.botao-cadastrar {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: rgb(255, 234, 73);
    font-family: 'Trebuchet MS',  sans-serif;
    grid-column: 2 / 2;
    width: 50%;
}

.seletor-resultado {
    align-self: center;
    width: 60%;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.seletor-resultado--ativo{
    background-color: rgb(255, 234, 73);
   
}

.botao-individual, .botao-geral {
    border: none;
    box-shadow: 0px 0px 5px rgb(196, 196, 196);
    width: 50%;
    line-height: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
    
    
}

.botao-individual:hover, .botao-geral:hover {
   cursor: pointer;
}

.container-principal_seletor-equipe {
    display: flex;
    justify-content: center;
}

.form-seletor-equipe{
    width: 60%;
}

.seletor-equipe{
    flex-grow: 1;
    margin-left: 5px;
}

.form-seletor-equipe, .seletor-equipe {
    display: flex;
    align-items: baseline;
     font-size: 1.2rem;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.secao-resultados{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.secao-resultados_tabela {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 90%;
}

.tabela_linha-cabecalho {
    background-color: beige;
}


th, td{
    padding: 5px;
    border-bottom: 1px solid beige;

}
th {
    font-weight: bold;
    
}
.display-none{
    display: none;
}


